#folder-contents {
	margin-top: 20px;
	margin-bottom: 20px;
}

#folder-throbber, #rendition-throbber, #upload-throbber {
	visibility: hidden;
}

#csdk-logout {
	visibility: hidden;
}

img {
	max-width: 100%;
}